<!DOCTYPE html>
<html ng-app="InternalApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="css/vendor/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  </head>

  <body ng-controller="InternalHomeController as homeCtrl">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#myPage"><img class="logo" src="images/New-Blibli-Logo.png" alt=""></a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li ng-class= "{ active: isSelected(1) }" >
              <a href="#1" ng-click="homeCtrl.selectTab(1)">LOGIN</a>
            </li>
            <li ng-class= "{ active: isSelected(2) }" >
              <a href="#2" ng-click="homeCtrl.selectTab(2)">REGISTER</a>
            </li>
          </ul>
        </div>

        <div ng-show="homeCtrl.isSelected(1)" ng-include="'login.html'"></div>
        

      </div>
    </nav>
  </body>

  <script type="text/javascript" src="js/vendor/angular.js"></script>
  <script type="text/javascript" src="js/vendor/jquery.min.js"></script>
  <script type="text/javascript" src="js/vendor/jquery-ui.min.js"></script>
  <script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/apps/app.js"></script>
  <script type="text/javascript" src="js/apps/controller/InternalHomeController.js"></script>
  <script type="text/javascript" src="js/apps/controller/InternalLoginController.js"></script>
  <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
</html>
